# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.pdb
*.sdf
*.db
*.res
*.log
*.lastbuildstate
*.opensdf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.ilk
*.idb

# Executables
*.exe
*.out
*.app

# GameDirectory
Game/*
