# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.pdb
*.sdf
*.db
*.res
*.log
*.lastbuildstate

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
